/*CAROUSEL*/
.slideChildrenContainer--carousel{
    background: #f0f0f0;
}

.paginationDot--isActive{
    background: black;
}

.slideChildrenContainer--carousel :global(.vtex-button){
    border-color: black;
    background: #212940;
}

.slideChildrenContainer--carousel :global(.vtex-button):focus, 
.slideChildrenContainer--carousel :global(.vtex-button):hover {
    border-color: #0c3072;
}

/*SHELF*/
.sliderLayoutContainer--shelf :global(.vtex-button){
    border-color: black;
    background: #212940;
}

.sliderLayoutContainer--shelf :global(.vtex-button):focus, 
.sliderLayoutContainer--shelf :global(.vtex-button):hover {
    border-color: #0c3072;
}
